<div class="page-wrapper">
  <div class="welcome-container">
    <div class="left-side">
      <img src="../../assets/images/person-with-laptop.png" alt="Person with Laptop">
    </div>
    <div class="right-side">
      <h1>Welcome</h1>

      <div class="input-group">
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="Enter Email" [(ngModel)]="email">
      </div>

      <p>or</p>

      <div class="input-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="tel" id="phoneNumber" placeholder="Enter Phone Number" [(ngModel)]="phoneNumber">
      </div>

      <button (click)="onNextClick()">Next</button>
    </div>
  </div>
</div>
